@using ContentProjection.Models

<div class="border border-success border-3 p-3">
    <h3>GenericProjectionChild</h3>
    @foreach (var animal in InputData)
    {
        <div class="border border-3 border-warning p-3 my-3">
            @if (animal is Cat cat)
            {
                @CatTemplate?.Invoke(cat)
            }

            @if (animal is Dog dog)
            {
                @DogTemplate?.Invoke(dog)
            }

            @if (animal is Bird bird)
            {
                @BirdTemplate?.Invoke(bird)
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public RenderFragment<Cat>? CatTemplate { get; set; }

    [Parameter]
    public RenderFragment<Dog>? DogTemplate { get; set; }

    [Parameter]
    public RenderFragment<Bird>? BirdTemplate { get; set; }

    [Parameter]
    public List<IAnimal> InputData { get; set; } = new();
}