<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ContentProjection</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="single-slot">
                <span class="oi oi-infinity" aria-hidden="true"></span> Single Slot
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="multiple-slots">
                <span class="oi oi-infinity" aria-hidden="true"></span> Multiple Slots
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="generic-projection">
                <span class="oi oi-infinity" aria-hidden="true"></span> Generic Projection
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="common-mistake">
                <span class="oi oi-infinity" aria-hidden="true"></span> Generic Projection Common Mistake
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="detect-changes">
                <span class="oi oi-infinity" aria-hidden="true"></span> Generic Projection Detect Changes
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
