<div class="border border-3 border-primary p-3 w-25">
    <h3>MultipleSlotsParent</h3>
    <MultipleSlotsChild>
        <Slot1><span>Slot 1 content</span></Slot1>
        <Slot2><span>Slot 2 content</span></Slot2>
    </MultipleSlotsChild>
</div>